.fullpage-swiper {
  height: 100vh;

  .swiper-wrapper {
    transform: none!important;
  }

  .swiper-slide {
    opacity: 0!important;

    &.swiper-slide-active {
      opacity: 1!important;
    }
  }

  .section {
    height: 100%;
  }
}
