.u-o-auto {
  overflow: auto;
}

.u-o-hidden {
  overflow: hidden;
}

.u-o-visible {
  overflow: visible;
}

.u-o-scroll {
  overflow: scroll;
}

.u-o-x-auto {
  overflow-x: auto;
}

.u-o-y-auto {
  overflow-y: auto;
}

.u-o-x-hidden {
  overflow-x: hidden;
}

.u-o-y-hidden {
  overflow-y: hidden;
}

.u-o-x-visible {
  overflow-x: visible;
}

.u-o-y-visible {
  overflow-y: visible;
}

.u-o-x-scroll {
  overflow-x: scroll;
}

.u-o-y-scroll {
  overflow-y: scroll;
}