.u-pos-absolute {
  position: absolute;
}

.u-pos-fixed {
  position: fixed;
}

.u-pos-relative {
  position: relative;
}

.u-pos-static {
  position: static;
}

.u-pos-sticky {
  position: sticky;
}
