@font-face {
  font-family: 'SFUIDisplay';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/assets/fonts/SFUIDisplay/SFUIDisplay-Light.woff'),
       url('/assets/fonts/SFUIDisplay/SFUIDisplay-Light.woff2');
}

@font-face {
  font-family: 'SFUIDisplay';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/SFUIDisplay/SFUIDisplay-Regular.ttf'),
  url('/assets/fonts/SFUIDisplay/SFUIDisplay-Regular.woff'),
  url('/assets/fonts/SFUIDisplay/SFUIDisplay-Regular.woff2')
}

@font-face {
  font-family: 'SFUIDisplay';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/assets/fonts/SFUIDisplay/SFUIDisplay-Medium.woff'),
       url('/assets/fonts/SFUIDisplay/SFUIDisplay-Medium.woff2');
}
